       body {
            background-color: lightgray;
            font-family: sans-serif;
            margin: 10px;
            clear: both;
            }
        h2 {
            background-color: gray;
            color: white;
            }
        h1 {
            text-align: center;
            letter-spacing: 10px;
            font-size: 300%;
            }
        p {
            margin-left: 10px;
            margin-right: 10px;
            text-indent: 2rem;
            }
        img {
            float: left;
        }
        .spanrojo {
            color: red;
        }
        .fondoblanco {
            background-color: rgb(255, 255, 255);
            text-emphasis-style: 2;
        }