.caja1{
    margin:2%;
    background-color: yellow;
    padding: 20px;
    border: 10px solid orange;
    width: 40%;
    text-align: justify;
}

.caja2{
    clear: left;
    border-radius: 10px 50px;
    margin: 2% ;
    background-color: yellow;
    border-style: dashed;
    box-shadow:5px 9px 3px gray;
    width:40%;
    padding: 2% ;
    text-align: justify;
}

.caja3{
    clear: both;
    margin: 2px;
    width: 40%;
    position: absolute;
    right: 0;
    top: 0 ;

}

p.bola{
    border:10px solid black;
    border-image-source: url(./img/bola-100.png);
}